variables:
  NUGET_VERSION: 0.1
  PS1_TROUBLE_SHOOT: On

trigger:
  branches:
    include:
    - main

jobs:

- job: Install
  pool:
    vmImage: '$(IMAGE)'
  timeoutInMinutes: 100
  strategy:
    maxParallel: 4
    matrix:
      'Tiny on 2019':
        IMAGE: 'windows-2019'
        PGTYPE: tiny
      'Full on 2019':
        IMAGE: 'windows-2019'
        PGTYPE: full
      'Tiny on 2022':
        IMAGE: 'windows-2022'
        PGTYPE: tiny
      'Full on 2022':
        IMAGE: 'windows-2022'
        PGTYPE: full

  steps:

  - bash: |
       cd build-scripts/Download-All-Windows-Portable
       powershell -f Force-Install-Aria2c.ps1; aria2c --version;
       powershell -f "[Test] Install All Postgres Versions.ps1"
    condition: succeededOrFailed()
    displayName: 'Download $(PGTYPE)'

  - powershell: |
       Get-Service | where { $_.name -like "PGSQL`$*" } | ft -AutoSize
    displayName: 'Show PGSQL Servers'

  - bash: |
      set -eu; set -o pipefail
      d=$PWD
      pushd "$(System.ARTIFACTSDIRECTORY)"
      7z a -mx=1 -ms=on -mqs=on "Source-$(Agent.JobName).7z" "$d"
      popd
    condition: succeededOrFailed()
    displayName: 'Prepare Artifacts'

  - task: PublishBuildArtifacts@1
    condition: succeededOrFailed()
    displayName: 'Publish'
    inputs:
      pathtoPublish: '$(System.ARTIFACTSDIRECTORY)'
      artifactName: '$(Agent.JobName)'

